@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

header {

    padding: 20px;
    /* background-color: rgb(245, 228, 228, 0.2); */
    border-bottom: 1px solid rgba(177, 177, 177, 0.5);
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    align-items: center;

}

header nav .log {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

header nav .log img {
    width: 120%;
}

header nav .title { 
    font-weight: bold;
    font-size: 2rem;
}

header nav .title span {
    color: orange;
}

header nav ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: rgba(3, 2, 1, 0.986);
    font-weight: bold;
    font-size: 1.1rem;
}

header nav ul li a span {
    color: orange;
}


header nav .hamburger {
    display: none;
    width: 40px;
    height: 30px;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

header nav .hamburger span {
    display: inline-block;
    width: 90%;
    height: 5px;
    background-color: black;
    border-radius: 10px;
}

header nav ul li a:hover {
    color: orange;
}

header nav .hamburger span:hover {
    background-color: orangered;
}

 main {
    /* background-image: url(WhatsApp\ Image\ 2024-07-25\ at\ 18.01.50_6a9dfe42.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; */
    width: 99%;
    height: 100%;
    background-color: rgb(116, 10, 10);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} 

main .hero .welcome-animation {
    background-color: white;
    /* position: relative; */
    overflow: hidden;
    width: 100%;
    align-items: center;
    
  }
  
  main .hero .welcome-animation h1 {
    position: absolute;
    left: 100%;
    white-space: nowrap;
    animation: slide 10s linear infinite;
  }
  main .hero .welcome-animation h1 span{
    color: orange;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
 }
 main .love{
    background-color: #fff;
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
 }
 main .love .writting{
    width: 48%;
 }
 main .love .writting h3{
    color: orange;
    line-height: 1;
    margin: 20px 0;
    
 }
 main .love .grduation{
    width: 50%;

 }
 main .love .grduation img{
    width: 100%;
 }
 main .progress{
    color: white;
    text-align: center;
 }
 main .progress span{
    color: orange;
 }
  @media screen and (max-width: 1280px ) {
    header nav{
        width: 100%;
    }
  }
  @media screen and (max-width: 934px ){
    header nav{
        display: flex;
        justify-content: space-between;
    }
    header nav .log{
        width: 17%;
        height: 17%;
    }
    header nav .title{
        font-size: 1rem;
    }
    header nav ul{
width: 100%;
        display: none;
    }
    header nav .hamburger{
        display: flex;
    }
    main .grduation img{
        width: 100%;
    }
    main .love{
        width: 100%;
    }
  }
  
  